[project]
	description = Automatically exported from code.google.com/p/flexible-js-formatting
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hani Gamal (hanigamal)
[access "refs/for/refs/*"]
	read = group user/Hani Gamal (hanigamal)
	push = group user/Hani Gamal (hanigamal)
	label-Code-Review = -2..+2 group user/Hani Gamal (hanigamal)
	label-Verified = -1..+1 group user/Hani Gamal (hanigamal)
	rebase = group user/Hani Gamal (hanigamal)
	removeReviewer = group user/Hani Gamal (hanigamal)
	submit = group user/Hani Gamal (hanigamal)
[access "refs/heads/*"]
	read = group user/Hani Gamal (hanigamal)
	create = group user/Hani Gamal (hanigamal)
	push = +force group user/Hani Gamal (hanigamal)
	pushMerge = group user/Hani Gamal (hanigamal)
[access "refs/tags/*"]
	push = +force group user/Hani Gamal (hanigamal)
	pushTag = group user/Hani Gamal (hanigamal)
	pushSignedTag = group user/Hani Gamal (hanigamal)
